<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description"
    content="The weather forecast you need, no matter where you live. This app provides current temperatures for cities all over the world and also has a live map so you can see what weather is happening in different parts of the world as it updates.">
<meta name="keywords"
    content="weather live , current temperatures for cities,weather forecast , weather, temperature you cities">
<meta name="author" content="Chandan">

<title>AltaWeather | The Weather Forecast You Need, No Matter Where You Live | Current Temperatures Around The World
</title>
<link rel="shortcut icon" href="image/fav.png" type="image/png">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

<!-- font awseom cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="css/style.css">